/*        HERO SECTION         */
.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_frame {
  width: 100%;
  display: grid;
  grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
.about_text {
  grid-area: 2 / 2 / 7 / 6;
  padding: 0 10% 10% 0;
}
.about_text h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}
.about_text span {
  color: #004687;
}
.about_text p {
  margin: 30px 0 20px;
  line-height: 27px;
  font-weight: lighter;
}
.about_text a {
  font-weight: lighter;
  letter-spacing: 2px;
}
.about_img {
  grid-area: 2 / 6 / 7 / 10;
}
.about_img img {
  width: 120%;
  height: 500px;
}
.about_details {
  padding: 7% 5% 0;
  border-top: 1px solid grey;
}
.about_details h3 {
}
.about_details ul {
  margin-top: 4%;
  margin-left: 8%;
}
.about_details li {
}
.about_anchors {
}
.about_anchors a {
  color: #fff;
  padding: 9px 20px;
  background-color: #004687;
  border-radius: 4px;
  font-weight: 500;
  margin-right: 10px;
}
.about_anchors a:last-child {
  background: #000;
  color: #fff;
}
