/*        HERO SECTION         */
/* .about_img * {
  border: 1px solid lime;
} */
.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 5%;
}
.about_frame {
}
.links {
  margin-top: 5%;
}
.content_links {
  padding: 4% 0 0;
}
.content_links a {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  background: #0b1020;
}
/* .content_links a.active {
  color: #f10f0f;
} */
.links span {
  color: #004687;
}
.about_content {
  /* width: 100%; */
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 10%));
  justify-content: center;
}
.about_content.active {
  display: grid;
}

.about_text {
  /* grid-area: 1 / 6 / 7 / 12; */
  grid-area: 2 / 6 / 7 / 11;
  padding: 0 0 0 5%;
}
.about_img {
  /* grid-area: 1 / 1 / 5 / 5; */
  grid-area: 1 / 1 / 7 / 6;
}
.about_text h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
.about_text p {
  margin: 15px 0 30px;
  line-height: 27px;
}
.about_text a {
  letter-spacing: 2px;
}
/* .about_img img {
  width: 100%;
  height: auto;
} */
.about_details {
  padding: 2% 0 0;
  border-top: 1px solid grey;
}
.about_details span {
  font-weight: bold;
}
.about_details h3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 22px;
}
.about_price {
  margin-bottom: 30px;
}
.about_size {
}
.about_details ul {
  margin-top: 6%;
  margin-left: 7%;
  font-size: 15px;
}
.about_details li {
  margin-top: 8px;
}
.about_anchors {
  margin-top: 25px;
}
.about_anchors a {
  color: #fff;
  padding: 9px 20px;
  background-color: #0b1020;
  /* border-radius: 4px; */
  font-weight: 500;
}
.about_note {
  color: #fff;
  border-radius: 0 10px 0 10px;
  background: #004687;
  padding: 12px 12px;
  font-style: italic;
}
/* Automatic and manual slider */
.hero_sliders {
  font-family: monospace;
  width: 100%;
  height: auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.btn_area {
}
.slider_btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  border-radius: 0 4px 4px 0;
  user-select: none;
  -webkit-user-select: none;
  border: none;
  outline: none;
  background-color: transparent;
  transition: 0.4s;
  background-color: #ffffffaa;
}
.slider_btn:hover {
  background-color: #ffffffcc;
}
.btn_one {
  left: 0;
}
.btn_two {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  margin: auto;
  position: relative;
  width: max-content;
}

/* Six columns side by side */
.column {
  float: left;
  width: 200px;
  margin-right: 5px;
  position: relative;
}
.column img {
  width: 100%;
  height: 150px;
}
/* Add a transparency effect for thumnbail images */
.demo:hover {
  opacity: 0.9;
}
/* Second slide */
.slider_wrap {
  /* position: relative; */
  overflow-x: scroll;
  height: 170px;
}
@media screen and (max-width: 1225px) {
  .about_anchors a {
    flex-wrap: wrap;
    /* width: inherit; */
    text-align: center;
  }
  .about_anchors a:last-child {
    margin-top: 7px;
  }
}
@media screen and (max-width: 1030px) {
  .about_content {
    grid-template-columns: 1fr;
  }
  .about_text {
    grid-area: 6 / 1 / 9 / 9;
    padding: 6% 0 0 0;
  }
  .about_img {
    grid-area: 1 / 1 / 6 / 9;
  }
}
@media screen and (max-width: 750px) {
  .content_links {
    display: flex;
    flex-direction: column;
  }
  .content_links a {
    margin-bottom: 1px;
  }
}
@media screen and (max-width: 500px) {
  /* .mySlides img {
    max-height: 270px;
  } */
  .column {
    width: 150px;
  }
  .column img {
    height: 110px;
  }
  .slider_wrap {
    height: 130px;
  }
  .about_anchors {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
}
