@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}
.widthContainer {
  margin: auto;
  width: 85%;
}
@media screen and (min-width: 1350px) {
  .widthContainer {
    width: 1300px;
    margin: auto;
    /* border: 1px solid purple; */
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: black;
  font-size: clamp(15px, 1.5vw, 17px);
}
i {
  font-size: 25px;
}
p {
  font-size: clamp(15px, 1.5vw, 17px);
}
.navbar {
  height: 80px;
  background-color: #0b1020;
  /* border-bottom: 4px solid #004687; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.2);
}
.navbar_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_links a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .nav a {
  margin: 0 10px;
} */
.sideContent i {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
}
.nav .closebtn i {
  font-size: 36px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px dotted #333;
}
.menu {
  position: relative;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  width: 230px;
  margin-right: -110%;
  padding: 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #0b1020;
  color: #fff;
}
.menu a {
  padding: 20px 10px;
  border-bottom: 1px solid white;
}
.sub_menu {
  min-width: 400px;
  padding: 10px 0;
  box-sizing: border-box;
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: 0.4s;
  background-color: white;
}
.sub_menu a {
  padding: 10px;
}
.navbar_links:hover .sub_menu {
  display: flex;
  margin-top: 16%;
  flex-direction: column;
}
.navbar .page_links a {
  margin: 0 6px;
}
.logo {
  /* display: flex;
  align-items: center; */
}
.logo h2 {
  font-size: clamp(17px, 2vw, 25px);
}
.page_links {
  margin: 20px 0;
}
.page_links a {
  border: none;
  margin: 0 5px;
  font-size: 40px;
  color: #2a9dbf;
}
/* ----------------------------*/
/*    2. Footer                */
/* .footer_container * {
  border: 1px solid lime;
} */
.footer_container {
  background: #fff;
  border-top: 3px solid #004687;
}
.footer_frame {
  padding: 2% 0;
}
.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_items a {
  border-right: 2px solid grey;
  padding: 0 10px;
  font-size: 15px;
}
.footer_items a:first-child {
  padding: 0 10px 0 0;
}
.footer_items a:last-child {
  border: none;
}
.footer_items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}
.footer_copyright {
  padding: 1% 2%;
  text-align: center;
  display: flex;
}
.footer_copyright p {
  font-size: 15px;
}
.footer_copyright small {
  font-weight: bolder;
  color: #2a9dbf;
}
.footer_copyright h2 {
  font-size: 15px;
  margin: 0 7px;
}
@media screen and (max-width: 1025px) {
  .footer_frame {
    padding: 5% 0;
  }
}
@media screen and (max-width: 600px) {
  .footer_items {
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer_content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer_items a {
    border-right: none;
    border-bottom: 2px solid grey;
    padding: 15px 0;
  }
  .footer_items a:first-child {
    padding: 0 0 15px 0;
  }
  .footer_copyright {
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .footer_frame {
    padding: 10% 0;
  }
  .footer_newsletter {
    width: 100%;
  }
  .footer_newsletter input {
    width: 100%;
  }
  .footer_copyright {
    flex-wrap: wrap;
  }
}
