/*        HERO SECTION         */
@media screen and (min-width: 1500px) {
  .footer_container {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
.about_container {
  padding: 5% 0;
  background-image: linear-gradient(#fff 50%, #ffffffde, #fff),
    url("../images/cruise_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about_frame {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
.about_frame h2 {
  grid-area: 1 / 1 / 2/ 11;
  text-align: center;
  font-size: clamp(18px, 2vw, 25px);
  margin: 0 0 3%;
}
.about_text {
  grid-area: 2 / 2 / 7 / 6;
  border: 1px solid black;
  padding: 10px 10% 10px 10px;
}
.about_text small {
  color: #004687;
}
/* .about_text h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
} */
.about_text span {
  color: #004687;
}
.about_text p {
  margin: 10px 0 20px;
  line-height: 27px;
  font-weight: lighter;
}
.about_text a {
  font-weight: lighter;
  letter-spacing: 2px;
}
.about_img {
  grid-area: 2 / 6 / 7 / 10;
  border: 1px solid black;
  padding: 10px;
}
.content {
}
.sponsor_contact {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.sponsor_contact a {
  color: #2a9dbf;
}
.about_frame h3 {
  margin-bottom: 10px;
  font-size: clamp(17px, 2vw, 20px);
}
.about_frame ul {
  margin-top: 2%;
  margin-left: 5%;
}
.about_frame li {
}
@media screen and (max-width: 1030px) {
  .about_text {
    grid-area: 2 / 1 / 7 / 6;
    padding-right: 5%;
  }
  .about_img {
    grid-area: 2 / 6 / 7 / 11;
  }
}
@media screen and (max-width: 700px) {
  .about_frame h2 {
    text-align: left;
    margin: 0 0 7%;
  }
  .about_text {
    grid-area: 7 / 1 / 10 / 12;
    margin-top: 10px;
  }
  .about_img {
    grid-area: 2 / 1 / 7 / 11;
  }
  .sponsor_contact {
    text-align: center;
    margin-top: 5%;
  }
}
